body {
    font-family: Poppinns, Helvetica, Arial sans-serif;
}

/* Scrollbar */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: rgb(71 85 105);
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(30 41 59);
}


.leaflet-marker-icon-custom img {
    border-radius: 50%;

    width: 50px !important;
    height: 50px !important;
}
