body {
    font-family: Poppinns, Helvetica, Arial sans-serif;
}

/* Scrollbar */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: rgb(71 85 105)
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(30 41 59);
}

/* Side-Nav */
    .sidenav {
        transition: 0.5s;
    }

    .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
        color: white;
    }
